{% load block_extras %}
<a href="/">Home</a><br /><br />
{% if b.block_height %}
    <a href="/block/{{ b.block_height }}/">Block {{ b.block_height }}</a><br />
    Magic Number: {{ b.magic_number }} <br />
    Block Size: {{ b.block_size }} <br />
    Version: {{ b.version }} <br />
    Previous Hash: {{ b.prev_hash }} <br />
    Merkel Root: {{ b.merkel_root }} <br />
    Block Time: {{ b.block_time|date_format }} <br />
    Difficulty: {{ b.target }} <br />
    Nonce: {{ b.nonce }} <br />
    Tx Count: {{ b.tx_count }} <br />
    Transactions: <br />
    <table border=1>
    <th>Inputs</th><th>Outputs</th>
    {% for tx in txs %}
      <tr><td>
      {% for input in inputs %}
        {% if input.tx_id == tx.id %}
          <a href="/address/{{ input.addr }}/">{{ input.addr }}</a>
          <br />
        {% endif %}
      {% endfor %}
      </td><td>
        {% for output in outputs %}
          {% if output.tx_id == tx.id %}
            <a href="/address/{{ output.addr }}/">{{ output.addr }}</a>
            ({{ output.value|satoshis2btc }} BTC) <br />
          {% endif %}
        {% endfor %}
        </td></tr>
    {% endfor  %}
    </table>
{% else %}
    <p>No Block number given.</p>
{% endif %}
